@model UniLibrary.Models.Catalog.KnigaDetailModel

<div class="container">
    <div class="page-header clearfix detailHeading">
        <h2 class="text-muted">View Library Item</h2>
    </div>
</div>

<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <div>
                <img class="detailImage" src="@Model.ImageUrl" />
            </div>
        </div>
        <div class="col-md-4">
            <p id="itemTitle">@Model.Title</p>
            <p id="itemAuthor">@Model.Author</p>
            <p id="itemStatus">@Model.Status</p>
            <p id="itemType">@Model.Type</p>
            <p id="itemLocation">@Model.CurrentLocation</p>

            @if (Model.Status == "Lost")
            {
                 <p>This item is lost. Check back later.</p>
                 <p><a class="btn btn-lg btn-danger" role="button" asp-controller="Catalog" asp-action="NotFound" asp-route-id="@Model.KnigaID">Item not Found</a></p>


            }

            @if (Model.Status == "Checked Out")
            {
                <p id="itemUser">Checked out by: @Model.UserName</p>
                <p><a class="btn btn-lg btn-success" role="button" asp-controller="Catalog" asp-action="CheckIn" asp-route-id="@Model.KnigaID">Check in</a></p>
                <p><a class="btn btn-lg btn-warning" role="button" asp-controller="Catalog" asp-action="Reserve" asp-route-id="@Model.KnigaID">Reserve</a></p>
            }

            @if (Model.Status == "Available")
            {
                <p><a class="btn btn-lg btn-info" role="button" asp-controller="Catalog" asp-action="Checkout" asp-route-id="@Model.KnigaID">Check out</a></p>

            }
        </div>
        <div class="col-md-4 detailInfo">
            <table>
                <tr>
                    <td class="itemLabel">ISBN:</td>
                    <td class="itemValue">@Model.ISBN</td>
                </tr>
                <tr>
                    <td class="itemLabel">Call Number:</td>
                    <td class="itemValue">@Model.DeweyCallNumber</td>
                </tr>
                <tr>
                    <td class="itemLabel">Replacement Cost:</td>
                    <td class="itemValue">@Model.Cost</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="row">
   <div class="col-lg-6">
       <h4>Checkout History</h4>
       <table class="table table-condensed table-bordered table-hover">
              <thead>
                  <tr>
                      <th>Date Loaned</th>
                      <th>Date Returned</th>
                      <th>Card ID</th>
                      <th></th>
                  </tr>
              </thead>
           <tbody>
               @foreach (var checkout in Model.CheckoutHistory)
               {
               <tr>
                   <td>
                       @checkout.CheckedOut
                   </td>
                   <td>
                       @checkout.CheckedIn
                   </td>
                   <td>
                       @checkout.IdCard.Id
                   </td>
               </tr>

               }
                   
           </tbody>
       </table>
   </div>
    <div class="col-lg-6">
        <h4>Current Reserves</h4>
        <table class="table table-hover table-bordered table-condensed">
            <thead>
                <tr>
                    <th>Reserved</th>
                    <th>User</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var hold in Model.CurrentReserves)
                {
                    <tr>
                        <td>
                            @hold.ReservePlaced
                        </td>
                        <td>
                            @hold.UserName
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>